main {
    display: grid;
}

.attributesGridData {
    padding: 10px;
    margin: 0;
    vertical-align: top;
    border-collapse: collapse;
    height: 100%;
    white-space: nowrap;
}

.attributesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 3px solid;
    border-radius: 10px;
}

.attributesGridData:last-child {
    border: none;
}

.attributeForm {
    border-collapse: collapse;
}

.attributeGridIndividual {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.infoPane {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .attributesGrid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .attributesGrid {
        grid-template-columns: 1fr 1fr;
    }
}